Data shopify.csv
Recharge subscription.csv 
Article data fortnox 2024 - 2025.xlsx
Linklog History 20240801-20250821.xlsx
Lykke freights web.xlsx
Orders Data LTM Aug 2025.csv
Produkt export 2025 AUG.csv
DATA LTM SHOPIFY.csv